# fixing https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion/issues/138

## Start of configuration add by letsencrypt container
location ~ /\.well-known/acme-challenge/ {
    allow all;
    root /usr/share/nginx/html;
    try_files $uri =404;
    break;
}
## End of configuration add by letsencrypt container
